<div *ngIf="!isSubmitted" class="col-sm-12">
  <div *ngFor="let data of arrAssessmentTypeSQ; index as k">
    <div>
      <form #c="ngForm" autocomplete="off" (ngSubmit)="submit_answer(c.value)">
        <div class="mb-3 shadow p-4">
          <div class="p-1 txt-font" style="width: 100%">
            {{ data.question_text }}
          </div>
          <div>
            <input
              type="hidden"
              class="form-control txt-font"
              name="question_id"
              [(ngModel)]="data.question_id"
              value="{{ data.question_id }}"
            />
            <textarea
              class="form-control txt-font input"
              name="answer"
              [(ngModel)]="data.answer"
              placeholder="answer"
              style="height: 100px"
              (keyup)="on_typing_answer(data.question_id)"
            ></textarea>
          </div>
          <div class="mt-2 mb-1">
            <button
              class="btn"
              mat-raised-button
              type="submit"
              style="margin-top: -3px; font-size: 12px; width: 150px"
            >
              {{ submit_text }}
              <mat-icon *ngIf="data.is_correct == 1">check</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <button
    class="btn"
    mat-raised-button
    [disabled]="isDisabled"
    (click)="submit_answer_for_assessment()"
    style="border: thin solid #000; font-size: 12px"
  >
    Submit Assessment
  </button>
</div>
